[phases.setup]
nixPkgs = ["nodejs-20_x", "chromium"]

[phases.install]
cmds = ["npm ci --legacy-peer-deps"]

[phases.build]
cmds = ["npm ci --legacy-peer-deps", "npm run build"]

[start]
cmd = "node dist/src/railwayEntrypoint.js"
