[phases.setup]
nixPkgs = ["nodejs-20_x", "chromium"]

[phases.install]
cmds = ["corepack enable", "pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "node dist/src/railwayEntrypoint.js"
